  <!-- acercademi -->
  <div class="container-fluid" id="acerca" *ngIf="personaModel">
    <div class="row border-bottom">
        <div class="col-sm-3 d-flex justify-content-center align-items-center">     
            <div class="col-8">
                
                <img class="img-fluid rounded-circle mx-auto d-block" src="{{personaModel.imagenPersona}}" alt="">
                               
                <div class="d-flex justify-content-center align-items-center pt-4">
                    <a href="#top">
                        <button type="button" id="btn_arriba" class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="Arriba">
                            <span class="accion-ico">
                                &nbsp;<i class="fa-solid fa-circle-up fa-sm"></i>&nbsp;
                            </span>    
                        </button>
                    </a>   
                </div>
                
            </div>
            
            <div class="col-1 d-flex justify-content-center" >
            </div> 


           
        </div>
        
        <div class="col-sm-9 p-4">
            <div class="row pt-3 pb-3">
                <div class="col-10 d-flex justify-content-start "> 
                    <h2>{{personaModel.nombre + ' ' + personaModel.apellido}}</h2>
                    
                </div>
            

                <div class="col-1 d-flex justify-content-center" >
                </div>
                
                <div class="col-1 d-flex justify-content-center" *ngIf="isLogged">
                    <button 
                        type="button" 
                        class="btn  btn-sm btn-normal border-0" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top" 
                        title="Modificar datos persona"
                        routerLink="/editaracercademi/1"
                        
                    >
                        <span>
                            <i class="fa-solid fa-pen-to-square" style='font-size:20px; vertical-align: middle;'></i>
                        </span>
                    </button>
                                             
                </div>
            
            
            
            
            
            </div>
            
            <div class="row pt-3 pb-3">

                <div class="col-10">
                    <div class="row row-cols-1 row-cols-md-2 g-4 pt-3 pb-3">
                        <div class="col">
                            <div class="card h-100">
                                <div id="acerca_header" class="card-header text-light"><h5>Datos Personales</h5></div>
                                <div class="card-body">
                                    <p class="card-text text-small">Edad: {{personaModel.edad}} años</p>
                                    <p class="card-text">Residencia: {{personaModel.residencia}}</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="card h-100">
                                <div id="acerca_header" class="card-header text-light"><h5>Datos de Contacto</h5></div>
                                <div class="card-body">
                                    <p class="card-text">Telefono: {{personaModel.telefono}}</p>
                                    <p class="card-text">Email: {{personaModel.email}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="col-1 d-flex justify-content-center" >
                </div>

                <div class="col-1 d-flex justify-content-center" >
                </div>
                                
            </div>


            <!-- input datos dinamicos -->
            <div></div>

            <div class="row pt-3 pb-3">
                <div class="col-10">
                    <p>
                        {{personaModel.textoPersona}}
    
                    </p> 
                </div>

                <div class="col-1 d-flex justify-content-center" >
                </div>
                
                <div class="col-1 d-flex justify-content-center" >
                </div>

                
            </div>
            
          

        </div>
    </div>
    
</div>
