  <!-- experiencia -->
  <div class="container-fluid" id="experiencia" *ngIf="experienciaModel">
    <div class="row border-bottom">
        <div class="col-sm-3 d-flex justify-content-center align-items-center">
            <div class="col-8">
                <img class="img-thumbnail rounded-circle  mx-auto d-block" src="assets/images/experiencia.jpg" alt="">

                <div class="d-flex justify-content-center align-items-center pt-4">
                    <a href="#top" class="text-dark ">
                        <button type="button" id="btn_arriba" class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="Arriba">
                            <span class="accion-ico">
                                &nbsp;<i class="fa-solid fa-circle-up fa-sm"></i>&nbsp;
                            </span>    
                        </button>
                    </a>   
                </div>

            </div>
            
        </div>
        
        <div class="col-sm-9 p-4  align-content-center">
            <div class="row pt-3 pb-3  align-content-center">
                <div class="col-10 d-flex justify-content-start">
                    <h1 class="display-4">Experiencia laboral</h1> 
                </div>
                
                
                <div class="col-1 d-flex justify-content-center" >
                </div>
                
                <div class="col-1 d-flex justify-content-center" *ngIf="isLogged" >
                    <button 
                        type="button" 
                        class="btn  btn-sm btn-grey border-0" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top" 
                        title="Agregar experiencia"
                        routerLink="/nuevaexperiencia"
                        
                    >
                        <span>
                            <i class="fa-solid fa-plus" style='font-size:20px; vertical-align: middle;'></i>
                        </span>
                    </button>
                                             
                </div>

            </div>

             <!-- input datos dinamicos -->
            
            <div class="row pb-2" *ngFor="let exp of experienciaModel">
                <div class="col-10">
                    <div class="card" style="max-width: 85%;">
                        <div class="card-body">
                            <h5 class="card-title"  style="color:#084b5c;">{{exp.nombreEmpresa}}</h5>
                            <p class="card-text">
                                {{exp.descripcionExperiencia}}
                            </p>
                        </div>
                        <div class="card-footer text-light" style="background-color:#0b6a82;">
                            <div class="float-end ">
                                <small>
                                    Desde: {{exp.mesDesde.trim()}}/{{exp.anioDesde.trim()}} hasta: {{exp.mesHasta.trim()}}/{{exp.anioHasta.trim()}}
                                    <span *ngIf="exp.esActual"> 
                                        Es mi empleo actual 
                                    </span>
                                </small>
                            
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
                
                
                <!-- botones de edicion y borrado de experiencias -->

                <div class="col-1 d-flex justify-content-center" *ngIf="isLogged">
                    
                    <button 
                        type="button" 
                        class="btn  btn-sm btn-grey border-0" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top" 
                        title="Modificar experiencia"
                        routerLink="/editarexperiencia/{{exp.idExperiencia}}"
                    >
                        <span>
                            <i class="fa-solid fa-pen-to-square" style='font-size:20px; vertical-align: middle;'></i>
                        </span>
                    </button>
                </div>
            
                <div class="col-1 d-flex justify-content-center" *ngIf="isLogged">
                    
                    <button 
                        type="button" 
                        class="btn  btn-sm btn-grey border-0" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top" 
                        title="Eliminar experiencia"
                        (click)="borrar(exp.idExperiencia)"
                        
                    >
                        <span>
                            <i class="fa-solid fa-trash-can" style='font-size:20px; vertical-align: middle;'></i>
                        </span>
                    </button>
                    
                </div>
            </div>

        </div>
    </div>
    
</div>
