
    <!-- pie de pagina -->
    <div class="container-fluid bg-dark text-light d-flex align-items-center justify-content-center pie-pagina">
        <div class="row">
            <div class="col p-2 d-flex justify-content-center">              
               <img src="assets\images\portfolio_web_pie.png" alt="" style="width: 120px; height:50px;">
            </div>
            <div class="col p-2 d-flex justify-content-center">    
                <small>
                   Argentina Programa 2022
                </small>
            </div>
        </div>
        
    </div>  
